.success-message {
  font-size: 16px;
  color: green;
  background-color: #d4edda;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-message span {
  font-size: 20px;
}
